<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>clubs and sociaties</title>
<link href="cv.css" rel="stylesheet" type="text/css" />
</head>
<div id="container">
<div id="header">
<h3>CLUBS AND SOCIATIES I HAVE ATTENDEND</h3>
</div>
<div id="content">
<p>
Your social life is just as important as your academic pursuits and it can improve when you join a college club or society as they provide a good opportunity to meet new people outside of your class and to pursue various interests. They are run by students, for students and usually there is a wide variety of clubs and societies to choose from.</br>
I have been an active member of the following clubs and sociaties.
<ul>
<li>Maths Club</li>
<li>Association of computing students</li>
<li>Lake Victoria Students Association</li>
</ul>

</p>


</div>
<div id="footer">
copyright marcoderoh.org 2016
</div>
</div>
<body>
</body>
</html>
