
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <title>my cv</title> -->
<link href="cv.css" rel="stylesheet" type="text/css" />
<% provide(:title, "CV HOME") %>
</head>
<div id="container">
<div id="header">
<h2>MY CURRICULUM VITAE</h2>

</div>
<div id="content">
<h3>PERSONAL DETAILS</h3>
<p>
NAME: Marcel Audi Oderoh</br>
ADDRESS: PO BOX 3841,</br>
         Kisumu</br>
         40100</br>
Email: marcoderoh@gmail.com</br>
Phone: 0710101478</br>
Date of birth: November 3, 1993</br>
Marital status: single</br>
Language proficiency: English, Kiswahili</br>
Nationality: Kenyan</br>
Religion: Christian</br>
</p>
<h3>CAREER OBJECTIVE</h3>
<p>
To obtain a meaningful and challenging position that enables me to learn in the field of</br> computing and allows for advancement.
</p>
<h3>Academic Background</h3>
<table>
<tr>
<td>Year</td>
<td>Institution</td>
<td>Grade Attained</td>
</tr>
<tr>
<td> 2013-2017</td>
<td> Masinde Muliro University</td>
<td> Current</td>
</tr>
<tr>
<td> 2009-2012</td>
<td> Kisumu Day High School</td>
<td> B+</td>
</tr>
<tr>
<td> 2001-2008</td>
<td> Nanga Primary School</td>
<td> 351 Marks</td>
</tr>

</table>
<h3>PROFESSIONAL QUALIFICATION</h3>
<P>Holder of proficiency certificate in Microsoft Office packages (Introduction to computers, Ms Word , Ms Excel , Ms Publisher , Ms PowerPoint, Ms Access and Ms Outlook )  </P>
<h4><a href="clubs and sociaties.html">CLUBS AND SOCIETIES ATTENDED</a></h4>
<P>
•	Member of Masinde Muliro University Association of Computing Students (ACS)</br>
•	Member of Maths club (Kisumu Day High School)

</P>
<h3>SKILLS AND INTEREST DEVELOPED</h3>
<P>
•	Effective communication and interpersonal skills</br>
•	Ability to build and work as a team</br>
•	Multitasking, ability to parallel processes and manage several tasks in terms of resourcing and time</br> 

</P>
<h3><a href="my hobbies.html">HOBBIES</a></h3>
<P>
•	Coding</br> 
•	Watching movies

</P>
<h3>REFEREES</h3>
1.	Mr. Edwin Owiti,</br> 
Finance manager (KIBASE),</br> 
P.O. Box 3210,</br> 
KISUMU.</br> 
Tel. 057-2024100.</br> 
2.	Mr. Phillip Adoyo,</br> 
Coordinator-FASS,</br> 
Masinde Muliro University City Campus,</br> 
Private bag Kakamega, </br> 
Tel. 0723983331.</br> 
3.	Mr. Edward Opiyo,</br> 
Deport Manager, </br> 
Kenya Ports Authority (Kisumu),</br> 
P.O. Box 95009,</br> 
Mombasa.</br> 
Tel. 0726828401.</br> 



</div>

<div id="footer">
<p>copyright marcoderoh 2016. All rights reserved</p>
</div>


</div>
<body>
</body>
</html>
