<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>my hobbies</title>
<link href="cv.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
<div id="header"><h3>MY HOBBIES</h3></div>
<div id="content">
<p>These are some of my hobies, i like watching movies and coding. When it comes to movies i like horror or comedy, </br>
some of my favourite titles are Saw, The Train, Pulp fiction to name but afew. </br>
When i'm not watching then i'm probably trying to code something, i know a little bit of </br>
java,python and c++. Of course i hope to one day come up with major </br>
program.
 </p>

<p>I'm also frequently online on social media </br>
you can find me on.</p>
<ul>
<li><a href="www.facebook.com">Facebook</a></li>
<li><a href="www.twitter.com">Twitter</a></li>
<li><a href="www.reddit.com">Reddit</a></li>
<li><a href="www.intagram.com">Instagram</a></li>
</ul>

</div>
<div id="footer">   
copyright marcoderoh.org 2016.
</div>
</div>

</body>
</html>
